* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
}

.main {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
table tr:nth-child(even) {
  background-color: lightgray;
}
.main table thead {
  text-align: left;
  background-color: lightgrey;
}

.bookform input {
  margin: 1rem 0px;
  padding: 0.6rem;
}

.hidden {
  display: none !important;
}

.show {
  display: block;
}

#bookslist {
  color: black;
}
